<script>
  function setCookie(name, value, days) {
    var expires = "";

    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
      expires = "; expires=" + date.toUTCString();
    }

    document.cookie = name + "=" + (value || "") + expires + "; path=/";
  }

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  function eraseCookie(name) {
    document.cookie = name + "=; Max-Age=-99999999;";
  }
</script>

<!-- Begin MailChimp Signup Form -->
<!--link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"-->
<div class="t-home__visor" id="mc_embed_signup">
  <form action="//hoshudojo.us9.list-manage.com/subscribe/post?u=932de532d91ec18ef1f144adf&amp;id=f13bddc5a9" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate target="_blank">
    <h2 class="c-h3">Find out about Hoshu Dojo Events in your area:</h2>

    <div class="c-field-row">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input name="b_932de532d91ec18ef1f144adf_f13bddc5a9" tabindex="-1" type="text" value=""/>
      </div>

      <div class="c-field mc-field-group">
        <label for="mce-EMAIL" style="position: absolute; left: -5000px;">Email Address
          <span class="asterisk">*</span>
        </label>
        <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Email" type="email" value=""/>
      </div>

      <div class="c-field mc-field-group x-first-name">
        <label for="mce-FNAME" style="position: absolute; left: -5000px;">First Name
        </label>
        <input class="" id="mce-FNAME" name="FNAME" placeholder="First Name" type="text" value=""/>
      </div>

      <div class="c-field mc-field-group x-last-name">
        <label for="mce-LNAME" style="position: absolute; left: -5000px;">Last Name
        </label>
        <input class="" id="mce-LNAME" name="LNAME" placeholder="Last Name" type="text" value=""/>
      </div>

      <div class="c-field c--shrink clear">
        <input class="button c-button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe"/>
        <div>
          <!-- this is hidden on purpose, so submit doesn't have top margin -->
        </div>
      </div>

      <div class="c-field c--shrink clear">
        <button class="button c-button t-home__no-thanks" type="button" value="remove">
          No thanks
        </button>
      </div>
    </div>

    <div class="c-field-row">
      <div class="clear" id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </div>
  </form>
</div>
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js" type="text/javascript"></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

<div class="js-visor-trigger"></div>

<script>
  // Visor Visibility
  // ===
  var visor = document.querySelector(".t-home__visor");
  var HIDE_FORM = "hoshu-dojo-hide-form";
  var VISIBLE = "t--visible";
  var isVisorHidden = getCookie(HIDE_FORM);

  var hideVisor = function () {
    visor.classList.remove(VISIBLE);
  };
  var showVisor = function () {
    if (isVisorHidden && isVisorHidden.length) {
      return;
    }

    visor.classList.add(VISIBLE);
  };
  showVisor();

  // No Thanks Button
  // ===
  var button = document.querySelector(".t-home__no-thanks");
  var noThanks = function () {
    setCookie(HIDE_FORM, "true", 30);
    hideVisor();
    isVisorHidden = getCookie(HIDE_FORM);
  };
  button.addEventListener("click", noThanks);
</script>