<a class="c-logo" href="/">
  <h1 class="c-logo__text">
    <div class="c-logo__title">Hoshu Dojo</div>
    <div class="u-visually-hidden">|</div>
    <div class="l-japanese">豊州道場</div>
  </h1>

  <img alt="Hoshu Dojo Logo" class="c-logo__image" src="/assets/img/logo-mobile.png"/>
</a>
