<div class="c-page-header">
  <div class="c-frame">
    <div class="c-page-header__inner">
      <div class="c-page-header__logo">
        {% include logo %}
      </div>

      <div class="c-page-header__nav">
        <div class="c-nav-bar">
          <ul class="c-nav-bar__inner">
            {% for item in site.nav %}
              <li class="c-nav-bar__item {% if item.id == 'home' %} c--hide-on-mobile {% endif %}">
                <a class="c-nav-bar__link" href="{{ item.href }}" {{ item.props }}>
                  {{ item.description }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
