<header class="nav-header">
    <a href="#content" class="skip-link">Skip to main content</a>
    <div class="page-wrapper">
        <a href="/" class="graphic-link">
            <div class="nav-header__logo">
                <img class="logo logo--inverse logo--nav-header" src="/assets/logos/logo_black.svg"
                    alt="Hoshu Dojo logo" />
                <div class="nav-header__text">
                    <h2 class="nav-header__title">Hoshu Dojo</h2>
                    <p class="nav-header__subtitle">Shindo Muso Ryu Jodo | Daito Ryu Aikijujutsu</p>
                </div>
            </div>
        </a>
        <!-- TODO: collapsible nav? mobile only? -->
        <a href="/#contact" class="button button--primary">Join Us</a>
    </div>
</header>