<header class="nav-header">
    <a href="#content" class="skip-link">Skip to main content</a>
    <div class="page-wrapper">
        <a href="/" class="graphic-link">
            <div class="nav-header__logo">
                <img class="logo logo--inverse logo--nav-header" src="/assets/logos/logo_black.svg"
                    alt="Hoshu Dojo logo" />
                <div class="nav-header__text">
                    <h2 class="nav-header__title">Hoshu Dojo</h2>
                    <p class="nav-header__subtitle">Shindo Muso Ryu Jodo | Daito Ryu Aikijujutsu</p>
                </div>
            </div>
        </a>
        <div id="mobile-nav" class="nav-header__mobile-nav">
            <button class="button button--unstyled" aria-label="Open navigation">
                <svg id="menu-icon" class="icon icon--close" width="200" height="200" viewBox="0 0 100 100">
                    <path d="M25 25 L 75 25 M25 50 L 75 50 M25 75 L 75 75">
                    <animate id="ham-to-x" attributeName="d" from="M25 25 L 75 25 M25 50 L 75 50 M25 75 L 75 75" to="M25 25 L 75 75 M25 25 L 75 75 M25 75 L 75 25" dur="0.125s" begin="indefinite" fill="freeze" />
                    <animate id="x-to-ham" attributeName="d" to="M25 25 L 75 25 M25 50 L 75 50 M25 75 L 75 75" from="M25 25 L 75 75 M25 25 L 75 75 M25 75 L 75 25" dur="0.125s" begin="indefinite" fill="freeze" />
                    </path>
                </svg>
            </button>
            <nav data-open="false">
                <div class="nav-header__mobile-nav-wrapper">
                    <a href="/#contact" class="button button--primary">Join Us</a>
                    <ul class="list list--unstyled">
                        <li>
                            <a href="/#home" class="graphic-link">Home</a>
                        </li>
                        <li>
                            <a href="/#benefits" class="graphic-link">Benefits</a>
                        </li>
                        <li>
                            <a href="/#arts" class="graphic-link">Arts</a>
                        </li>
                        <li>
                            <a href="/#leadership" class="graphic-link">Leadership</a>
                        </li>
                        <li>
                            <a href="/#locations" class="graphic-link">Locations</a>
                        </li>
                        <li>
                            <a href="/#contact" class="graphic-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <a href="/#contact" class="button button--primary button--desktop">Join Us</a>
    </div>
</header>