<header class="t-home__hero">
  <div class="c-splash-card">
    <aside class="c-splash-card__banner">
      <picture>
        <source media="(min-width: 600px)" srcset="/assets/img/home-banner-desktop.jpg"/>
        <img alt="Photograph of Thomas Groendal and Ben Lew facing off in a Jodo kata" class="c-splash-card__image" src="/assets/img/home-banner-mobile.jpg" width="320"/>
      </picture>
    </aside>

    <div class="c-splash-card__content">
      <div class="c-hero-logo">
        <div class="c-hero-logo__inner">
          <h1 class="c-hero-logo__text">
            <div class="c-hero-logo__title">Hoshu Dojo</div>
            <div class="u-visually-hidden">|</div>
            <div class="l-japanese u-white">
              豊州道場<i class="c-hero-logo__pseudo-image"></i>
            </div>
          </h1>

          <picture>
            <source media="(min-width: 600px)" srcset="/assets/img/logo-desktop.png"/>
            <img alt="Hoshu Dojo Logo" class="c-hero-logo__image" src="/assets/img/logo-mobile.png"/>
          </picture>
        </div>
      </div>


      <div class="c-sheet">
        <p class="c-h3">
          <span class="u-weight--light">{{ page.splash }}</span>
        </p>
      </div>
    </div>
  </div>
</header>