<div class="c-page-header">
  <div class="c-frame">
    <div class="c-page-header__inner">
      <div class="c-page-header__logo">
        {% include logo %}
      </div>

      <nav class="c-nav-bar" data-expanded="false">
        <button class="c-nav-bar__menu_button" aria-controls="primary-navigation" aria-expanded="false"
                onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') !== 'true');
                this.parentElement.setAttribute('data-expanded', this.getAttribute('aria-expanded'))">
          <span class="u-visually-hidden">Main Navigation</span>
          <div></div>
        </button>
        <ul class="c-nav-bar__menu" id="primary-navigation">
          {% for item in site.nav %}
            <li class="c-nav-bar__menu__item">
              <a href="{{ item.href }}" {{ item.props }}>
                {{ item.description }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
