<div class="c-hero-logo">
  <div class="c-hero-logo__inner">
    <h1 class="c-hero-logo__text">
      <div class="c-hero-logo__title">Hoshu Dojo</div>
      <div class="u-visually-hidden">|</div>
      <div class="l-japanese u-white">
        豊州道場<i class="c-hero-logo__pseudo-image"></i>
      </div>
    </h1>

    <picture>
      <source
        srcset="/assets/img/logo-desktop.png"
        media="(min-width: 600px)"
      />
      <img
        src="/assets/img/logo-mobile.png"
        class="c-hero-logo__image"
        alt="Hoshu Dojo Logo"
      />
    </picture>
  </div>
</div>
