<div class="c-page-header">
  <div class="c-frame">
    <div class="c-page-header__inner">
      <div class="c-page-header__logo">
        {% include logo.html %}
      </div>

      <div class="c-page-header__nav">
        <div class="c-nav-bar">
          <ul class="c-nav-bar__inner">
            <li class="c-nav-bar__item c--hide-on-mobile">
              <a class="c-nav-bar__link" href="/{{ page.lang }}/">Home</a>
            </li>
            <li class="c-nav-bar__item">
              <a class="c-nav-bar__link" href="/{{ page.lang }}/locations">Locations</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
