<!-- SECTION: arts -->
<section class="arts">
    <div class="banner page-wrapper">
        <h2 class="title">Arts</h2>
    </div>
    <article class="content-wrapper">
        <p>Hoshu Dojo is a community of students of Kei Goto sensei that are committed to carrying forward
            the cultural legacy of Shindo Muso Ryu Jojutsu and Daito Ryu Aikijujutsu that he has taught us.
            We each bring our authentic selves to practice and balance martial practice and moving zen with
            community and humor. We have <a href="#locations">locations</a> in Japan, and satellite
            locations spanning the Pacific Northwest and other parts of the USA, Canada, and Mexico.
        </p>
        <p>
            <strong>Shindo Muso Ryu Jojutsu</strong>, and its modern offshoot, <strong>Jodo</strong>, is a
            400-year-old art that teaches the
            use of sword and broader martial and personal development through the use of a simple short
            staff to overcome a better-armed opponent wielding a sword. In Jodo, we rely on precision and
            the flexibility of the Jo to overcome the inherent advantages of our blade-wielding opponent.
        </p>
        <p>
            <strong>Daito Ryu Aikijujutsu</strong> is the original “Aiki” art, an art of traditional
            Japanese jujutsu. This
            art includes sophisticated throws, joint locks, and strikes, offering a rich reserve of
            technical knowledge for overcoming an opponent in close range combat.
        </p>
        <p>
            <a href="#contact">Contact us</a> if you are interested to come check out a practice.
        </p>
    </article>
</section>