<!-- SECTION: benefits -->
<!-- TODO: optimize images (webp with srcset and sizes, png fallback) -->
<section class="benefits content-wrapper">
    <h2 class="vis-hidden">Benefits</h2>
    <article class="benefit benefit--photo-left">
        <picture class="benefit__photo slide-fade-in">
            <source srcset="/assets/img/benefits-tradition.webp" />
            <img src="/assets/img/benefits-tradition.jpg" alt="" loading="lazy" />
        </picture>
        <div class="benefit__text slide-fade-in">
            <h3 class="benefit__title h2">Tradition</h3>
            <p class="benefit__desc">
                The kata of Shindo Muso Ryu and Daito Ryu have been refined for centuries and are fascinating studies in the art of war. We take our duty to pass them on to future generations seriously.
            </p>
        </div>
    </article>
    <article class="benefit benefit--photo-right">
        <picture class="benefit__photo slide-fade-in">
            <source srcset="/assets/img/benefits-development.webp" />
            <img src="/assets/img/benefits-development.jpg" alt="" loading="lazy" />
        </picture>
        <div class="benefit__text slide-fade-in">
            <h3 class="benefit__title h2">Personal development</h3>
            <p class="benefit__desc">
                Koryu kata provide a structured place to grow resilient and confident in the face of conflict and find your voice under pressure.
            </p>
            <p class="benefit__desc">
                Burn away stress and achieve a stronger, more flexible and coordinated body at the impact level you can handle.
            </p>
        </div>
    </article>
    <article class="benefit benefit--photo-left">
        <picture class="benefit__photo slide-fade-in">
            <source srcset="/assets/img/benefits-community.webp" />
            <img src="/assets/img/benefits-community.JPG" alt="" loading="lazy" />
        </picture>
        <div class="benefit__text slide-fade-in">
            <h3 class="benefit__title h2">Community</h3>
            <p class="benefit__desc">
                Our dojo family has gathered from all over North America and Japan to train with Goto sensei annually for over 10 years and values respect, authenticity, and humor.
            </p>
        </div>
    </article>
    <article class="benefit benefit--photo-right">
        <picture class="benefit__photo slide-fade-in">
            <source srcset="/assets/img/benefits-fun.webp" />
            <img src="/assets/img/benefits-fun.jpg" alt="" loading="lazy" />
        </picture>
        <div class="benefit__text slide-fade-in">
            <h3 class="benefit__title h2">Fun</h3>
            <p>It&apos;s fun. We love this stuff, and think you will too!</p>
        </div>
    </article>
</section>