<!-- SECTION: contact & mailing list forms -->
<section id="contact" class="contact content-wrapper">
    <h2 class="vis-hidden">Contact Us</h2>
    <h3 class="h2">Interested? Get In Touch.</h3>
    <!-- TODO: event handling -->
    <!-- TODO: honeypot -->
    <form id="contact-form" aria-label="Contact form">
        <p class="form-disclaimer"><span class="asterisk">*</span> denotes a required field</p>
        <div class="field">
            <label for="contact-name">Name</label>
            <input type="text" id="contact-name" name="name" required placeholder="Muso Gonnosuke" />
        </div>
        <div class="field">
            <label for="contact-email">Email</label>
            <input type="email" id="contact-email" name="email" required placeholder="gonnosuke@me.com" />
        </div>
        <fieldset>
            <legend>Area(s) of Interest</legend>
            <label for="contact-interest-jodo">
                <input type="checkbox" id="contact-interest-jodo" name="interest" value="jodo" />
                Shindo Muso Ryu Jodo
            </label>
            <label for="contact-interest-daito-ryu">
                <input type="checkbox" id="contact-interest-daito-ryu" name="interest" value="daito-ryu" />
                Daito Ryu Aikijujutsu
            </label>
        </fieldset>
        <fieldset>
            <legend>Preferred Practice Location(s)</legend>
            <label for="contact-location-portland">
                <input type="checkbox" id="contact-location-portland" name="location" name="portland" />
                Hoshu Dojo Portland
            </label>
            <label for="contact-location-seattle">
                <input type="checkbox" id="contact-location-seattle" name="location" value="seattle" />
                Hoshu Dojo Seattle
            </label>
            <label for="contact-location-vancouver">
                <input type="checkbox" id="contact-location-vancouver" name="location" value="vancouver" />
                Hoshu Dojo Vancouver
            </label>
            <label for="contact-location-other">
                <input type="checkbox" id="contact-location-other" name="location" value="other" />
                Other (please specify below)
            </label>
        </fieldset>
        <div class="field">
            <label for="contact-questions">Questions? Comments?</label>
            <textarea name="questions" id="contact-questions" rows="6" placeholder="Hi! I&apos;m interested in learning more about jodo and have some questions about classes in Portland."></textarea>
        </div>
        <button class="button button--primary" type="submit">Send</button>
    </form>
    <article class="contact__mailing-list slide-fade-in">
        <picture>
            <source srcset="./assets/img/mailing-list.webp" />
            <img src="./assets/img/mailing-list.jpg" alt="" loading="lazy" />
        </picture>
        <div class="contact__mailing-list-form">
            <h4>Want to hear about our upcoming events? Sign up for our mailing list!</h4>
            <!-- TODO: event handling -->
            <form id="mailing-list-form" aria-label="Mailing list form">
                <div class="field">
                    <label for="mailing-email">Email</label>
                    <input type="email" id="mailing-email" name="email" required placeholder="gonnosuke@me.com" />
                </div>
                <div class="field">
                    <label for="mailing-first-name">First Name</label>
                    <input type="text" id="mailing-first-name" name="firstName" placeholder="Gonnosuke" />
                </div>
                <div class="field">
                    <label for="mailing-last-name">Last Name</label>
                    <input type="text" id="mailing-last-name" name="lastName" placeholder="Muso" />
                </div>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </article>
</section>