<!-- SECTION: hero -->
<!-- TODO: optimize images (webp with srcset and sizes, png fallback) -->
<section class="hero">
    <article>
        <div class="content-wrapper">
            <img class="logo logo--inverse logo--hero" src="./assets/logos/logo_black.svg" alt="Hoshu Dojo logo" />
            <div class="hero__text">
                <h1 class="title">Hoshu Dojo</h1>
                <ul class="list list--unstyled">
                    <li class="h4">Shindo Muso Ryu Jojutsu (Jodo)</li>
                    <li class="h4">Daito Ryu Aikijujutsu</li>
                </ul>
            </div>
        </div>
    </article>
</section>