<ul class="list list--unstyled">
    <li>
        <a href="/#home" class="graphic-link">Home</a>
    </li>
    <li>
        <a href="/#benefits" class="graphic-link">Benefits</a>
    </li>
    <li>
        <a href="/#arts" class="graphic-link">Arts</a>
    </li>
    <li>
        <a href="/#leadership" class="graphic-link">Leadership</a>
    </li>
    <li>
        <a href="/#locations" class="graphic-link">Locations</a>
    </li>
    <li>
        <a href="/#contact" class="graphic-link">Contact</a>
    </li>
</ul>