// Home
// ===

.t-home {
    // ...
}


// Hero Logo
// ---
//
// 1. Absolutely position the logo image relative the the hero logo container
// 2. Set `display: block` to ensure flexbox works

.t-home__hero {
    position: relative; // 1
    margin-bottom: 2rem;

    .c-splash-card__overlay img {
        position: absolute; // 1
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
    }

    .c-h6 {
        padding: 0 70px;
    }

    // Logo spacer
    h1 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    span {
        display: block; // 2

        &:last-child::after {
            content: '';

            display: block;
            height: 78px;
            width: 78px;
            margin: 1.5rem 0;
        }
    }
}
