// Home
// ===

.t-home {
}


// Hero
// ---

.t-home__hero {

    .c-logo {
        margin-bottom: -8rem;

        transform: translateY(-50%);
    }
}


// About Section
// ---

.t-home__about {
    background: black url($images-path + '/about-banner.jpg') no-repeat top center;
    background-size: 470px;

    color: white;

    .u-weight--light {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}


// Instructor Section
// ---

.t-home__instructor {
}


// Location Section
// ---

.t-home__locations {
}


// Contact
// ---

.t-home__contact {

    [type="submit"] {
        width: 100%;
    }
}
