// Form
// ===


// Generic Form Elements
// ---

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    // @extend %c-label;

    &:active {
        // @extend %c-label--active;
    }
}


// Text Inputs and Select Dropdowns
// ---

select,
textarea,
input {
    display: block;

    outline: none;

    // font-family: $form-font-family;
    font-size: inherit;
}

select,
textarea,
// [type="search"],
[type="text"],
// [type="password"],
// [type="email"],
// [type="tel"],
// [type="datetime"],
// [type="datetime-local"],
// [type="date"],
// [type="month"],
// [type="time"],
// [type="week"],
// [type="number"],
// [type="url"],
// [type="color"]
{
    // @extend %c-input;

    width: 100%;
    min-height: 3.5rem;

    &:active {
        // border-color: darken($dark-border-color, 10%);
    }

    &:focus {
        border-color: $anchor-color;
        border-size: 1px;
        // box-shadow: 0 0 0 1px $anchor-color;
        outline: none;
    }
}


// Text Input Fields Only
// ---
//
// 1. These properties must be set with a slightly higher specificity for search inputs
//    because Normalize's defaults are a bit too specific

textarea,
// [type="search"],
[type="text"],
// [type="password"],
// [type="email"],
// [type="tel"],
// [type="datetime"],
// [type="datetime-local"],
// [type="date"],
// [type="month"],
// [type="time"],
// [type="week"],
// [type="number"],
// [type="url"],
// [type="color"]
{
    padding: 1rem;
    border: 1px solid #ccc;

    box-shadow: inset 3px 3px 6px -4px rgba(0, 0, 0, 0.25);
}

// input[type="search"] { // 1
//     box-sizing: border-box;
//     -webkit-appearance: none;
// }

textarea {
    height: auto;

    line-height: 2rem;
}


// Select Dropdown Only
// ---

select {
    // padding: $small-space;

    // box-shadow: $shadow;
}


// Checkbox and Radios
// ---
//
// 1. Absolutely position relative to the parent checkbox/radio
// 2. Vertical and horizontally align the checkmark/circle inside the checkbox/radio

[type="checkbox"],
[type="radio"] {
    position: relative; // 1

    display: inline-block;
    width: 20px;
    height: 20px;
    // margin-right: $small-space;
    // border: 1px solid $dark-border-color;

    background: #fff;

    vertical-align: middle;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;

    &:focus {
        border-color: $anchor-color;
        box-shadow: 0 0 0 1px $anchor-color;
        outline: none;
    }

    &:checked::before {
        content: '';

        position: absolute; // 1, 2
        top: 0; // 2
        right: 0; // 2
        bottom: 0; // 2
        left: 0; // 2

        display: block;
        margin: auto; // 2
    }

    + label {
        display: inline-block;
    }
}

[type="radio"] {
    border-radius: 100%;

    &::before {
        width: 8px;
        height: 8px;
        border-radius: 100%;

        // background: $success-color;
    }
}

[type="checkbox"] {
    border-radius: 2px;

    &:checked {
        // @include icon-font;

        &::before {
            // content: icon-address(check);

            width: 0.6em;
            height: 1em;

            // color: $success-color;
            font-size: 20px;
            line-height: 0.8em;
        }
    }
}

// Buttons
// ---

button,
[type="submit"] {
    display: block;
    padding: 10px 15px;
    border: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-appearance: none;
}
