// Typography
// ===

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,
%h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
}

h2,
%h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h3,
%h3 {
    font-size: 1.7rem;
    line-height: 2rem;
}

h4,
%h4 {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

h5,
%h5 {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h6,
%h6 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-top: 2rem;
    }
}

a {
    color: $anchor-color;
    text-decoration: none;
}
