/* partials */
/**
 * from joshwcomeau.com
 */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-text: #0A0A2B;
  --subtle-text: #22226B;
  --inverse-text: #EFE8D2;
  --extra-subtle-text: rgb(152, 152, 152);
  --pop-text: #4242C3;
  --page-bg: #060614;
  --primary-bg: #EFE8D2;
  --secondary-bg: #0A0A2B;
  --tertiary-bg: #22226B;
  --subtle-bg: #FFFFFF;
  --link-primary: #4242C3;
  --link-secondary: #BE855E;
  --borders: rgb(202, 201, 205);
  --font-body: Inter, Arial, Helvetica, sans-serif;
  --font-title: Cormorant,
      Georgia,
      "Times New Roman",
      Times,
      serif;
  --form-border-width: 1.5px;
  --form-asterisk-colour: #4242C3;
  --shadow-colour: 240deg 90% 0%;
  --shadow-elevation-low: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.36),
      0px 1.2px 1.3px -1.2px hsl(var(--shadow-colour) / 0.36),
      0px 2.8px 3.1px -2.5px hsl(var(--shadow-colour) / 0.36);
  --shadow-elevation-medium: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.3),
      0px 1.8px 2px -0.6px hsl(var(--shadow-colour) / 0.3),
      0px 3.6px 4.1px -1.2px hsl(var(--shadow-colour) / 0.3),
      0px 7.3px 8.2px -1.9px hsl(var(--shadow-colour) / 0.3),
      -0.1px 14.2px 16px -2.5px hsl(var(--shadow-colour) / 0.3);
  --shadow-elevation-high: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.31),
      0px 3.8px 4.3px -0.3px hsl(var(--shadow-colour) / 0.31),
      0px 6.9px 7.8px -0.6px hsl(var(--shadow-colour) / 0.31),
      -0.1px 10.8px 12.2px -0.9px hsl(var(--shadow-colour) / 0.31),
      -0.1px 16.4px 18.5px -1.2px hsl(var(--shadow-colour) / 0.31),
      -0.2px 24.6px 27.7px -1.6px hsl(var(--shadow-colour) / 0.31),
      -0.2px 36.1px 40.6px -1.9px hsl(var(--shadow-colour) / 0.31),
      -0.3px 51.8px 58.3px -2.2px hsl(var(--shadow-colour) / 0.31),
      -0.4px 72.6px 81.7px -2.5px hsl(var(--shadow-colour) / 0.31);
  --drop-shadow-elevation-low: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.36)) drop-shadow(0px 1.2px 1.3px hsl(var(--shadow-colour) / 0.36)) drop-shadow(0px 2.8px 3.1px hsl(var(--shadow-colour) / 0.36));
  --drop-shadow-elevation-medium: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 1.8px 2px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 3.6px 4.1px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 7.3px 8.2px hsl(var(--shadow-colour) / 0.3)) drop-shadow(-0.1px 14.2px 16px hsl(var(--shadow-colour) / 0.3));
  --drop-shadow-elevation-high: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.31)) drop-shadow(0px 3.8px 4.3px hsl(var(--shadow-colour) / 0.31)) drop-shadow(0px 6.9px 7.8px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.1px 10.8px 12.2px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.1px 16.4px 18.5px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.2px 24.6px 27.7px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.2px 36.1px 40.6px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.3px 51.8px 58.3px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.4px 72.6px 81.7px hsl(var(--shadow-colour) / 0.31));
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

html,
body {
  background: var(--page-bg);
  color: var(--primary-text);
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  width: 100vw;
  min-height: calc(100vh - 5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

header, main, footer {
  width: 100%;
}

main {
  background: var(--primary-bg);
  flex-grow: 1;
}

main,
footer {
  position: relative;
  top: 5rem;
}

.vis-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 3.25rem;
}

h2,
.h2 {
  font-size: 2.125rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.375rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 0.9375rem;
}

.title {
  font-weight: 900;
}

.title--no-caps {
  text-transform: none;
}

.banner .title {
  font-size: 3.25rem;
}

p + p {
  margin-top: 0.75em;
}

.no-margin p + p {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

abbr {
  text-decoration: none;
  font-variant: inherit;
}

address {
  font-style: normal;
}

a {
  color: var(--link-primary);
  font-weight: 500;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 1.5px;
  transition: text-underline-offset 0.1875s ease-out;
}
a:hover {
  text-underline-offset: 0.25em;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-right: auto;
  margin-left: 0;
  background: white;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.125s ease;
}
.skip-link:focus, .skip-link:focus-visible, .skip-link:focus-within {
  opacity: 1;
}

.graphic-link {
  text-decoration: none;
  opacity: 1;
  color: inherit;
  transition: opacity 0.125s ease;
}
.graphic-link:hover {
  opacity: 0.7;
}

button,
.button {
  --button-bg: white;
  --button-border-colour: var(--button-bg);
  --button-border-radius: 0.125rem;
  cursor: pointer;
  text-decoration: none;
  padding-inline: 0.875rem;
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem;
  background: var(--button-bg);
  color: var(--primary-text);
  border-width: 4px;
  border-style: solid;
  border-color: var(--button-border-colour);
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 900;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
button:hover,
.button:hover {
  background: color-mix(in srgb, var(--button-bg) 80%, transparent);
}

.button--primary {
  --button-bg: var(--link-primary);
  color: var(--inverse-text);
}

.button--unstyled {
  background: none;
  padding: 0;
  border: none;
}
.button--unstyled:hover {
  background: none;
}

.button--icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}
.button--icon.button--primary img {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}

.list {
  margin: 0;
  padding: 0;
}

.list--unstyled {
  list-style-type: none;
}

.page-wrapper {
  max-width: 1900px;
  height: 100%;
  padding-inline: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  max-width: min(100vw - 5rem, 85ch);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.flex-wrapper--row {
  flex-direction: row;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logo--inverse {
  filter: invert(1);
}

.logo--nav-header {
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}

.logo--hero {
  width: 9rem;
  height: 9rem;
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}
@media (min-width: 540px) {
  .logo--hero {
    width: 12rem;
    height: 12rem;
  }
}

.icon {
  width: auto;
  height: 1em;
  aspect-ratio: 1/1;
}

fieldset {
  padding: 0;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}

label,
legend {
  font-weight: 600;
  margin-bottom: 0.25em;
}

label:has(input[type=checkbox]) {
  font-weight: 400;
  width: fit-content;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
}
label:has(input[type=checkbox]) input[type=checkbox] {
  appearance: none;
  background-color: #FFFFFF;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-width: var(--form-border-width);
  border-style: solid;
  border-color: var(--borders);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  transition: 60ms all ease-in-out;
  display: grid;
  place-content: center;
}
label:has(input[type=checkbox]) input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em #FFFFFF;
}
label:has(input[type=checkbox]) input[type=checkbox]:checked {
  --borders: var(--link-primary);
  background-color: var(--borders);
}
label:has(input[type=checkbox]) input[type=checkbox]:checked::before {
  transform: scale(1);
}

.asterisk {
  color: var(--form-asterisk-colour);
}

label:has(+ input[required])::after {
  content: " *";
  color: var(--form-asterisk-colour);
}

textarea {
  resize: vertical;
}

.field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.field input,
.field textarea {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
textarea {
  border-width: var(--form-border-width);
  border-style: solid;
  border-color: var(--borders);
  border-radius: 0.1875rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
}

.separator {
  width: 100%;
  height: 1.5px;
  background: var(--borders);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.location-hero {
  width: 100%;
  height: min(100vh - 5rem, 400px);
  background-color: #0A0A2B;
  color: var(--inverse-text);
  position: relative;
  z-index: 1;
}
.location-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.location-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: color-mix(in srgb, var(--secondary-bg) 45%, transparent);
  z-index: -1;
}
.location-hero article {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.location-hero--vancouver::before {
  background-image: url("../../assets/img/locations_vancouver.jpg");
}

.location-hero--seattle::before {
  background-image: url("../../assets/img/locations_seattle.jpg");
}

.location-hero--portland::before {
  background-image: url("../../assets/img/locations_portland.jpg");
}

.location-hero--oita::before {
  background-image: url("../../assets/img/locations_oita.jpg");
}

.location-hero--naha::before {
  background-image: url("../../assets/img/locations_naha.jpg");
}

.location-hero--toronto::before {
  background-image: url("../../assets/img/locations_toronto.jpg");
}

.location-hero--atlanta::before {
  background-image: url("../../assets/img/locations_atlanta.jpg");
}

.location-hero--coyoacan::before {
  background-image: url("../../assets/img/locations_coyoacan.jpg");
}

.location-hero--pasadena::before {
  background-image: url("../../assets/img/locations_pasadena.jpg");
}

.location-hero__text h1 {
  text-align: right;
  font-weight: 900;
  font-size: 1.75rem;
}
@media (min-width: 540px) {
  .location-hero__text h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .location-hero__text h1 {
    font-size: 2.5rem;
  }
}

.location-summary {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.location-summary.page-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.location-summary h2,
.location-summary h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 700;
}
.location-summary h2 {
  margin-bottom: 0.5em;
}
.location-summary h2 .icon {
  height: 1.25em;
  filter: invert(4%) sepia(31%) saturate(1212%) hue-rotate(199deg) brightness(104%) contrast(103%);
}

.location-summary__summary {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.location-summary__instructor-location {
  width: 100%;
  display: grid;
  gap: 1rem;
}
.location-summary__instructor-location .headshot {
  --headshot-border: 0.5rem;
  border: var(--headshot-border) solid var(--primary-bg);
  position: relative;
  margin-top: -4.5rem;
  margin-left: calc(var(--headshot-border) * -1);
}
@media (min-width: 540px) {
  .location-summary__instructor-location {
    grid-template-columns: auto 1fr 1fr;
  }
  .location-summary__instructor-location .headshot {
    grid-column: initial;
  }
}

.schedule {
  width: 100%;
}
.schedule h4 {
  color: color-mix(in srgb, var(--primary-text) 60%, transparent);
  font-size: 0.625rem;
  margin-top: 0.5rem;
}

.schedule__week {
  display: grid;
  gap: 1rem;
}
@media (min-width: 375px) {
  .schedule__week {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 540px) {
  .schedule__week {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .schedule__week {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1024px) {
  .schedule__week {
    grid-template-columns: repeat(7, auto);
  }
}

.schedule__day p {
  color: var(--pop-text);
}
.schedule__day p.no-class {
  color: var(--extra-subtle-text);
  font-style: italic;
}

.cost-disciplines {
  width: 100%;
  display: grid;
  gap: 1rem;
}
@media (min-width: 540px) {
  .cost-disciplines {
    grid-template-columns: 1fr 1fr;
  }
}

.location-summary__bio {
  width: 100%;
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .location-summary__bio {
    grid-template-columns: 1fr auto;
  }
}

.photos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.photo {
  width: 100%;
  min-width: 8rem;
  max-width: 20rem;
  height: auto;
  aspect-ratio: 4.5/3;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid var(--borders);
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .photo {
    width: 35vw;
  }
}

.location-summary__seniors {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.seniors {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .seniors {
    grid-template-columns: repeat(2, 1fr);
  }
}

.senior {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-content: flex-start;
}
.senior > div {
  align-content: center;
}
.senior > p {
  width: 100%;
  grid-column: span 2;
}

.headshot {
  width: 5rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.headshot--instructor {
  width: 8rem;
}
@media (min-width: 540px) {
  .headshot--instructor {
    width: 11rem;
  }
}
@media (min-width: 768px) {
  .headshot--instructor {
    width: 14rem;
  }
}

/*# sourceMappingURL=locations.css.map */
