@charset "UTF-8";
/* partials */
/**
 * from joshwcomeau.com
 */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.slide-fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.375s ease-in, transform 0.5s ease;
}

.slide-fade-in--hidden {
  opacity: 0;
  transform: translateY(1rem);
}
@media (prefers-reduced-motion) {
  .slide-fade-in--hidden {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transition-hero-image {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  21% {
    opacity: 0;
    --hero-image-jpg: url("../../assets/img/hero_01.jpg");
    --hero-image-webp: url("../../assets/img/hero_01.webp");
    background-position: center 30.5%;
  }
  22% {
    --hero-image-jpg: url("../../assets/img/hero_02.jpg");
    --hero-image-webp: url("../../assets/img/hero_02.webp");
    background-position: center;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  46% {
    opacity: 0;
    --hero-image-jpg: url("../../assets/img/hero_02.jpg");
    --hero-image-webp: url("../../assets/img/hero_02.webp");
    background-position: center;
  }
  47% {
    --hero-image-jpg: url("../../assets/img/hero_03.jpg");
    --hero-image-webp: url("../../assets/img/hero_03.webp");
    background-position: center;
  }
  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    --hero-image-jpg: url("../../assets/img/hero_03.jpg");
    --hero-image-webp: url("../../assets/img/hero_03.webp");
    background-position: center;
  }
  72% {
    --hero-image-jpg: url("../../assets/img/hero_04.jpg");
    --hero-image-webp: url("../../assets/img/hero_04.webp");
    background-position: center;
  }
  73% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  96% {
    opacity: 0;
    --hero-image-jpg: url("../../assets/img/hero_04.jpg");
    --hero-image-webp: url("../../assets/img/hero_04.webp");
    background-position: center;
  }
  97% {
    --hero-image-jpg: url("../../assets/img/hero_01.jpg");
    --hero-image-webp: url("../../assets/img/hero_01.webp");
    background-position: center 30.5%;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 the math on this was reeeeeaaaaallllyyy challenging to get the
 overlap delay right, please don't get rid of this diagram:

 0 = visible
 . = invisible

 two header rows reflect 0–100%, every 2%

 x 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8 0 2 4 6 8
 x 0 ~ ~ ~ ~ 1 ~ ~ ~ ~ 2 ~ ~ ~ ~ 3 ~ ~ ~ ~ 4 ~ ~ ~ ~ 5 ~ ~ ~ ~ 6 ~ ~ ~ ~ 7 ~ ~ ~ ~ 8 ~ ~ ~ ~ 9 ~ ~ ~ ~
 1 . O O O O O O O O . . . . . . . . . . . . . . . . . . O O O O O O O O . . . . . . . . . . . . . . .
 2 . . . . . . . O O O O O O O O . . . . . . . . . . . . . . . . . . O O O O O O O O . . . . . . . . .
 3 . . . . . . . . . . . . . O O O O O O O O . . . . . . . . . . . . . . . . . . O O O O O O O O . . .
 4 O O O . . . . . . . . . . . . . . . . O O O O O O O O . . . . . . . . . . . . . . . . . . O O O O O

 */
@keyframes fade-hero-image {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse-map-pin {
  0% {
    opacity: 1;
    transform: scale(0.75);
    border-width: 1.5px;
  }
  100% {
    opacity: 0;
    transform: scale(3);
    border-width: 1px;
  }
}
@keyframes scale-in-map-pop-up {
  0% {
    opacity: 0;
    transform: scale(0.125) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-1rem);
  }
}
@keyframes slide-up-hero-logo {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --primary-text: #0A0A2B;
  --subtle-text: #22226B;
  --inverse-text: #EFE8D2;
  --extra-subtle-text: rgb(152, 152, 152);
  --pop-text: #4242C3;
  --page-bg: #060614;
  --primary-bg: #EFE8D2;
  --secondary-bg: #0A0A2B;
  --tertiary-bg: #22226B;
  --subtle-bg: #FFFFFF;
  --link-primary: #4242C3;
  --link-secondary: #BE855E;
  --borders: rgb(202, 201, 205);
  --font-body: Inter, Arial, Helvetica, sans-serif;
  --font-title: Cormorant,
      Georgia,
      "Times New Roman",
      Times,
      serif;
  --form-border-width: 1.5px;
  --form-asterisk-colour: #4242C3;
  --shadow-colour: 240deg 90% 0%;
  --shadow-elevation-low: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.36),
      0px 1.2px 1.3px -1.2px hsl(var(--shadow-colour) / 0.36),
      0px 2.8px 3.1px -2.5px hsl(var(--shadow-colour) / 0.36);
  --shadow-elevation-medium: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.3),
      0px 1.8px 2px -0.6px hsl(var(--shadow-colour) / 0.3),
      0px 3.6px 4.1px -1.2px hsl(var(--shadow-colour) / 0.3),
      0px 7.3px 8.2px -1.9px hsl(var(--shadow-colour) / 0.3),
      -0.1px 14.2px 16px -2.5px hsl(var(--shadow-colour) / 0.3);
  --shadow-elevation-high: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.31),
      0px 3.8px 4.3px -0.3px hsl(var(--shadow-colour) / 0.31),
      0px 6.9px 7.8px -0.6px hsl(var(--shadow-colour) / 0.31),
      -0.1px 10.8px 12.2px -0.9px hsl(var(--shadow-colour) / 0.31),
      -0.1px 16.4px 18.5px -1.2px hsl(var(--shadow-colour) / 0.31),
      -0.2px 24.6px 27.7px -1.6px hsl(var(--shadow-colour) / 0.31),
      -0.2px 36.1px 40.6px -1.9px hsl(var(--shadow-colour) / 0.31),
      -0.3px 51.8px 58.3px -2.2px hsl(var(--shadow-colour) / 0.31),
      -0.4px 72.6px 81.7px -2.5px hsl(var(--shadow-colour) / 0.31);
  --drop-shadow-elevation-low: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.36)) drop-shadow(0px 1.2px 1.3px hsl(var(--shadow-colour) / 0.36)) drop-shadow(0px 2.8px 3.1px hsl(var(--shadow-colour) / 0.36));
  --drop-shadow-elevation-medium: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 1.8px 2px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 3.6px 4.1px hsl(var(--shadow-colour) / 0.3)) drop-shadow(0px 7.3px 8.2px hsl(var(--shadow-colour) / 0.3)) drop-shadow(-0.1px 14.2px 16px hsl(var(--shadow-colour) / 0.3));
  --drop-shadow-elevation-high: drop-shadow(0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.31)) drop-shadow(0px 3.8px 4.3px hsl(var(--shadow-colour) / 0.31)) drop-shadow(0px 6.9px 7.8px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.1px 10.8px 12.2px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.1px 16.4px 18.5px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.2px 24.6px 27.7px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.2px 36.1px 40.6px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.3px 51.8px 58.3px hsl(var(--shadow-colour) / 0.31)) drop-shadow(-0.4px 72.6px 81.7px hsl(var(--shadow-colour) / 0.31));
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

html,
body {
  background: var(--page-bg);
  color: var(--primary-text);
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  width: 100vw;
  min-height: calc(100vh - 5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

header, main, footer {
  width: 100%;
}

main {
  background: var(--primary-bg);
  flex-grow: 1;
}

main,
footer {
  position: relative;
  top: 5rem;
}

.vis-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 3.25rem;
}

h2,
.h2 {
  font-size: 2.125rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.375rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 0.9375rem;
}

.title {
  font-weight: 900;
}

.title--no-caps {
  text-transform: none;
}

.banner .title {
  font-size: 3.25rem;
}

p + p {
  margin-top: 0.75em;
}

.no-margin p + p {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

abbr {
  text-decoration: none;
  font-variant: inherit;
}

address {
  font-style: normal;
}

a {
  color: var(--link-primary);
  font-weight: 500;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 1.5px;
  transition: text-underline-offset 0.1875s ease-out;
}
a:hover {
  text-underline-offset: 0.25em;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-right: auto;
  margin-left: 0;
  background: white;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.125s ease;
}
.skip-link:focus, .skip-link:focus-visible, .skip-link:focus-within {
  opacity: 1;
}

.graphic-link {
  text-decoration: none;
  opacity: 1;
  color: inherit;
  transition: opacity 0.125s ease;
}
.graphic-link:hover {
  opacity: 0.7;
}

button,
.button {
  --button-bg: white;
  --button-border-colour: var(--button-bg);
  --button-border-radius: 0.125rem;
  cursor: pointer;
  text-decoration: none;
  padding-inline: 0.875rem;
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem;
  background: var(--button-bg);
  color: var(--primary-text);
  border-width: 4px;
  border-style: solid;
  border-color: var(--button-border-colour);
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 900;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
button:hover,
.button:hover {
  background: color-mix(in srgb, var(--button-bg) 80%, transparent);
}

.button--primary {
  --button-bg: var(--link-primary);
  color: var(--inverse-text);
}

.button--icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}
.button--icon.button--primary img {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}

.list {
  margin: 0;
  padding: 0;
}

.list--unstyled {
  list-style-type: none;
}

.page-wrapper {
  max-width: 1900px;
  height: 100%;
  padding-inline: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  max-width: min(100vw - 5rem, 85ch);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logo--inverse {
  filter: invert(1);
}

.logo--nav-header {
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}

.logo--hero {
  width: 12rem;
  height: 12rem;
  filter: invert(94%) sepia(14%) saturate(249%) hue-rotate(5deg) brightness(96%) contrast(96%);
}

.icon {
  width: auto;
  height: 1em;
  aspect-ratio: 1/1;
}

fieldset {
  padding: 0;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}

label,
legend {
  font-weight: 600;
  margin-bottom: 0.25em;
}

label:has(input[type=checkbox]) {
  font-weight: 400;
  width: fit-content;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
}
label:has(input[type=checkbox]) input[type=checkbox] {
  appearance: none;
  background-color: #FFFFFF;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-width: var(--form-border-width);
  border-style: solid;
  border-color: var(--borders);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  transition: 60ms all ease-in-out;
  display: grid;
  place-content: center;
}
label:has(input[type=checkbox]) input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em #FFFFFF;
}
label:has(input[type=checkbox]) input[type=checkbox]:checked {
  --borders: var(--link-primary);
  background-color: var(--borders);
}
label:has(input[type=checkbox]) input[type=checkbox]:checked::before {
  transform: scale(1);
}

.asterisk {
  color: var(--form-asterisk-colour);
}

label:has(+ input[required])::after {
  content: " *";
  color: var(--form-asterisk-colour);
}

textarea {
  resize: vertical;
}

.field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.field input,
.field textarea {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
textarea {
  border-width: var(--form-border-width);
  border-style: solid;
  border-color: var(--borders);
  border-radius: 0.1875rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
}

.separator {
  width: 100%;
  height: 1.5px;
  background: var(--borders);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* sections */
.nav-header {
  background: #060614;
  color: var(--inverse-text);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 5rem;
}
.nav-header .page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.nav-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.625rem;
}

@media (max-width: 540px) {
  .nav-header__text {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.nav-header__title {
  font-size: 0.9375rem;
  line-height: 1;
}

.nav-header__subtitle {
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 0.25em;
}

.hero article {
  width: 100%;
  height: min(100vh - 5rem, 1200px);
  background-color: #0A0A2B;
  color: var(--inverse-text);
  position: relative;
  z-index: 1;
}
.hero article::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: color-mix(in srgb, var(--secondary-bg) 60%, transparent);
  z-index: -1;
}
.hero .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .hero .content-wrapper {
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
  }
}
.hero h1 {
  font-size: 3.25rem;
  animation-delay: 0.75s;
}
@media (min-width: 1024px) {
  .hero h1 {
    font-size: 4rem;
  }
}
.hero .logo,
.hero h1,
.hero li {
  opacity: 0;
  animation-name: slide-up-hero-logo;
  animation-duration: 0.9375s;
  animation-timing-function: cubic-bezier(0.48, -0.04, 0.2, 1.1);
  animation-fill-mode: forwards;
}
@media (prefers-reduced-motion) {
  .hero .logo,
  .hero h1,
  .hero li {
    opacity: 1;
    animation: none;
  }
}
.hero .logo {
  animation-delay: 0.5s;
}
.hero li:first-of-type {
  animation-delay: 1s;
}
.hero li:last-of-type {
  animation-delay: 1.25s;
}

.hero__image {
  --fade-duration: 120s;
  --fade-delay-overlap: calc(var(--fade-duration) / 8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--hero-image-jpg);
  background-repeat: no-repeat;
  background-position: center 30.5%;
  background-size: cover;
  z-index: -1;
  animation-name: fade-hero-image;
  animation-duration: var(--fade-duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  opacity: 1;
}
.hero__image:not(:nth-of-type(4)) {
  opacity: 0;
}
@media (prefers-reduced-motion) {
  .hero__image {
    opacity: 1;
    animation: none;
  }
  .hero__image:not(:nth-of-type(4)) {
    opacity: 0;
  }
}
@supports (background-image: var(--hero-image-webp)) {
  .hero__image {
    background-image: var(--hero-image-webp);
  }
}
.hero__image:nth-of-type(4) {
  background-image: url("../../assets/img/hero_01.jpg");
  background-position: center 30.5%;
  animation-name: fade-hero-image, fade-hero-image;
  animation-delay: 0s, calc(var(--fade-delay-overlap) * 4);
  animation-iteration-count: 1, infinite;
}
@supports (background-image: url("../../assets/img/hero_01.webp")) {
  .hero__image:nth-of-type(4) {
    background-image: url("../../assets/img/hero_01.webp");
  }
}
.hero__image:nth-of-type(3) {
  background-image: url("../../assets/img/hero_02.jpg");
  background-position: center;
  animation-delay: calc(var(--fade-delay-overlap) * 1);
}
@supports (background-image: url("../../assets/img/hero_02.webp")) {
  .hero__image:nth-of-type(3) {
    background-image: url("../../assets/img/hero_02.webp");
  }
}
.hero__image:nth-of-type(2) {
  background-image: url("../../assets/img/hero_03.jpg");
  background-position: center;
  animation-delay: calc(var(--fade-delay-overlap) * 2);
}
@supports (background-image: url("../../assets/img/hero_03.webp")) {
  .hero__image:nth-of-type(2) {
    background-image: url("../../assets/img/hero_03.webp");
  }
}
.hero__image:nth-of-type(1) {
  background-image: url("../../assets/img/hero_04.jpg");
  background-position: center;
  animation-delay: calc(var(--fade-delay-overlap) * 3);
}
@supports (background-image: url("../../assets/img/hero_04.webp")) {
  .hero__image:nth-of-type(1) {
    background-image: url("../../assets/img/hero_04.webp");
  }
}

.benefits {
  background: var(--primary-bg);
  color: var(--primary-text);
}

.benefit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.benefit__photo {
  width: 100%;
  height: auto;
  aspect-ratio: 4.5/3;
  flex-shrink: 0;
  border-radius: 0.125rem;
  --shadow-colour: 240deg 51% 29%;
  box-shadow: var(--shadow-elevation-medium);
}
@media (min-width: 768px) {
  .benefit__photo {
    width: 45%;
  }
}
.benefit__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .benefit--photo-left {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .benefit--photo-right {
    flex-direction: row-reverse;
  }
}

.benefit__text {
  width: 100%;
}

.benefit__title {
  color: #22226B;
}
@media (max-width: 425px) {
  .benefit__title {
    font-size: 1.5rem;
  }
}

.arts {
  background: var(--secondary-bg);
  color: var(--inverse-text);
}
.arts a {
  color: var(--link-secondary);
}
.arts .banner {
  height: 250px;
  background-color: #0A0A2B;
  background-image: url("../../assets/img/banner-arts.jpg");
  background-repeat: no-repeat;
  background-position: center 23%;
  background-size: cover;
  color: var(--inverse-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
@supports (background-image: url("../../assets/img/banner-arts.webp")) {
  .arts .banner {
    background-image: url("../../assets/img/banner-arts.webp");
  }
}
.arts .banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: color-mix(in srgb, var(--secondary-bg) 60%, transparent);
  z-index: -1;
}
.arts .content-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.photo-feed {
  background: var(--tertiary-bg);
}
.photo-feed .content-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1.5rem;
}
.photo-feed a {
  color: var(--link-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}
.photo-feed a .icon {
  filter: invert(73%) sepia(6%) saturate(3439%) hue-rotate(335deg) brightness(79%) contrast(83%);
}

.photo-feed__photo-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (min-width: 540px) {
  .photo-feed__photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .photo-feed__photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.photo-feed__photo-grid img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  --shadow-colour: 240deg 69% 14%;
  box-shadow: var(--shadow-elevation-medium);
}

.leadership {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.leadership .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
}

.leader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 540px) {
  .leader {
    flex-direction: row;
    align-items: flex-end;
  }
}

.leader__photo {
  width: 7rem;
  height: auto;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.leader__text {
  text-align: center;
}
@media (min-width: 540px) {
  .leader__text {
    text-align: left;
  }
}

.leader__title {
  line-height: 1.2;
}

.leader__ranks {
  color: var(--subtle-text);
  font-size: 1.25rem;
}
@media (min-width: 540px) {
  .leader__ranks {
    margin-left: -0.25em;
  }
}

.leader__location {
  font-style: italic;
  margin-top: 0;
}
@media (min-width: 540px) {
  .leader__location {
    margin-left: -1.0625em;
  }
}

.leader--primary .leader__photo {
  width: 11.5rem;
}
.leader--primary .leader__title {
  font-size: 2.5rem;
}

.leader--secondary .leader__photo {
  width: 9rem;
}
.leader--secondary .leader__title {
  font-size: 1.875rem;
}

.leader--tertiary {
  width: fit-content;
}
.leader--tertiary .leader__title {
  font-size: 1.375rem;
}
.leader--tertiary .leader__ranks {
  font-size: 1.125rem;
}
.leader--tertiary .leader__location {
  font-size: 0.875rem;
}

.locations {
  background: var(--secondary-bg);
  color: var(--inverse-text);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.locations > article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.locations a {
  color: var(--link-secondary);
}

.locations__map {
  display: none;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
@media (min-width: 768px) {
  .locations__map {
    display: block;
  }
}
.locations__map > picture img {
  width: 100%;
  height: auto;
  filter: invert(27%) sepia(42%) saturate(2728%) hue-rotate(224deg) brightness(90%) contrast(103%);
}

.locations__map-pin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  transform: translate(-50%, -50%);
}
.locations__map-pin:has(.map-pop-up[data-open=true]) {
  z-index: 100;
}

.locations__map-pin--vancouver {
  top: 29.875%;
  left: 13%;
}

.locations__map-pin--seattle {
  top: 32.5%;
  left: 13.75%;
}

.locations__map-pin--portland {
  top: 35%;
  left: 13.625%;
}

.locations__map-pin--pasadena {
  top: 40.5%;
  left: 14.5%;
}

.locations__map-pin--fargo {
  top: 31.75%;
  left: 20%;
}

.locations__map-pin--atlanta {
  top: 40.75%;
  left: 23%;
}

.locations__map-pin--toronto {
  top: 33%;
  left: 24.75%;
}

.locations__map-pin--coyoacan {
  top: 50.25%;
  left: 20%;
}

.locations__map-pin--oita {
  top: 41.5%;
  left: 84.625%;
}

.locations__map-pin--naha {
  top: 47.5%;
  left: 82.875%;
}

.map-pin {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #BE855E;
  box-shadow: var(--shadow-elevation-low);
  position: relative;
  text-align: center;
}
.map-pin:hover, .map-pin:focus {
  background: #BE855E;
}
.map-pin span {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: scale(0.75);
  border-radius: inherit;
  border: 1.5px solid #EFE8D2;
  background-color: transparent;
  z-index: -1;
}
.map-pin span:nth-of-type(1) {
  animation-delay: 0;
}
.map-pin span:nth-of-type(2) {
  animation-delay: 1s;
}
.map-pin span:nth-of-type(3) {
  animation-delay: 2s;
}
.map-pin:has(+ .map-pop-up[data-open=true]) span, .map-pin[data-link-hovered=true] span {
  animation-name: pulse-map-pin;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@media (prefers-reduced-motion) {
  .map-pin:has(+ .map-pop-up[data-open=true]) span, .map-pin[data-link-hovered=true] span {
    animation: none;
  }
}

.map-pop-up {
  width: max-content;
  max-width: min(100vh - 2rem, 1900px);
  background: var(--primary-bg);
  color: var(--primary-text);
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  transform: translateY(-1rem);
  filter: var(--drop-shadow-elevation-low);
}
.map-pop-up[data-open=true] {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1rem;
  animation: scale-in-map-pop-up 0.125s ease;
}
@media (prefers-reduced-motion) {
  .map-pop-up[data-open=true] {
    animation: none;
  }
}
.map-pop-up[data-open=false] {
  display: none;
}
.map-pop-up::before {
  content: "";
  width: 1.25rem;
  height: 0.75rem;
  background-color: inherit;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.map-pop-up--right {
  left: calc(100% + 0.875rem);
  transform-origin: top left;
}
.map-pop-up--right::before {
  left: 0;
  transform: translateX(-50%) translateY(calc(0.5rem - 50%));
}

.map-pop-up--left {
  right: calc(100% + 0.875rem);
  transform-origin: top right;
}
.map-pop-up--left::before {
  right: 0;
  transform: translateX(50%) translateY(calc(0.5rem - 50%));
}

.map-pop-up__thumbnail {
  width: 100%;
  height: calc(100% + 1rem);
  object-fit: cover;
  object-position: center;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.map-pop-up__text {
  font-size: 0.875rem;
}
.map-pop-up__text a {
  color: var(--link-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  width: fit-content;
}
.map-pop-up__text a .icon {
  filter: invert(27%) sepia(42%) saturate(2728%) hue-rotate(224deg) brightness(90%) contrast(103%);
  transform: translateX(0);
  transition: transform 0.125s ease-out;
}
.map-pop-up__text a:hover .icon, .map-pop-up__text a:focus .icon {
  transform: translateX(0.125rem);
}
.map-pop-up__text h4 {
  color: color-mix(in srgb, var(--primary-text) 60%, transparent);
  font-size: 0.625rem;
  margin-top: 0.5rem;
}

.locations__links {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .locations__links {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .locations__links > p {
    grid-column: span 4;
  }
}

.locations__country-list {
  text-align: center;
}
.locations__country-list:first-of-type h3 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.locations__country-list h3 {
  margin-bottom: 1rem;
}
.locations__country-list .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

.contact {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.contact h3 {
  text-align: center;
}
@media (max-width: 540px) {
  .contact h3 {
    font-size: 1.5rem;
  }
}
.contact > form {
  --borders: #BE855E;
  max-width: 40rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact .form-disclaimer {
  font-style: italic;
  width: 100%;
}
.contact .form-disclaimer,
.contact .field:has(textarea),
.contact fieldset,
.contact button {
  grid-column: span 2;
}
.contact button {
  width: fit-content;
  margin-left: auto;
}

.contact__mailing-list {
  max-width: 38rem;
  background: #BE855E;
  border: 2px solid #BE855E;
  border-radius: 0.25rem;
  display: grid;
  overflow: hidden;
}
@media (min-width: 540px) {
  .contact__mailing-list {
    grid-template-columns: 37% auto;
  }
}
.contact__mailing-list > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 42% bottom;
  transform: scale(1.15) translate(0, -5%);
  overflow: hidden;
}
@media (min-width: 540px) {
  .contact__mailing-list > picture img {
    transform: scale(1.15) translate(-7.5%, -5%);
  }
}
.contact__mailing-list h4 {
  text-transform: none;
  letter-spacing: initial;
  line-height: initial;
  font-weight: 500;
  font-size: 1.125rem;
}

.contact__mailing-list-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.contact__mailing-list-form > form {
  --borders: #EFE8D2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
  row-gap: 0.75rem;
}
.contact__mailing-list-form > form .field:has(input[id=mailing-email]),
.contact__mailing-list-form > form button {
  grid-column: span 2;
}
.contact__mailing-list-form > form button {
  margin-top: 1rem;
}

.page-footer {
  background: #060614;
  color: var(--inverse-text);
}
.page-footer .page-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-areas: "socials" "orgs" "credits";
  gap: 1rem;
}
@media (min-width: 540px) {
  .page-footer .page-wrapper {
    grid-template-areas: "socials orgs" "socials credits";
  }
}
.page-footer a {
  color: var(--link-secondary);
}

.page-footer__socials {
  grid-area: socials;
}
.page-footer__socials ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 0.25rem;
}

.page-footer__orgs {
  grid-area: orgs;
  text-align: left;
}
@media (min-width: 540px) {
  .page-footer__orgs {
    text-align: right;
  }
}

.page-footer__credits {
  grid-area: credits;
  text-align: left;
}
@media (min-width: 540px) {
  .page-footer__credits {
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
