// brand
$keikogi_blue: #0A0A2B;
$keikogi_blue_darker: #060614;
$parchment: #EFE8D2;
$zambrano_blue: #22226B;
$palatinate_blue: #4242C3;
$bokuto_brown: #BE855E;

// hsl conversion
$keikogi_blue_hsl: 240deg 100% 2%;
$keikogi_blue_darker_hsl: 240deg 90% 0%;
$parchment_hsl: 46deg 20% 55%;
$zambrano_blue_hsl: 240deg 69% 14%;
$palatinate_blue_hsl: 240deg 51% 29%;
$bokuto_brown_hsl: 25deg 39% 33%;

// general
$subtle: #CAC9CD;
$subtle_readable: #989898;
$error: #E41010;