// Hero Logo
// ===
//
// The logo is a responsive collection of three elements: the logo image, and
// the textual site names in English and Japanese. This is used on the homepage.

$logo__mobile-size: 78px;
$logo__desktop-size: 240px;

.c-hero-logo {
}


// Inner
// ---
//
// 1. Absolutely position the logo image relative the `.c-hero-logo` container

.c-hero-logo__inner {
    position: relative; // 1

    @include media('>=tablet') {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}


// Text
// ---
//
// The inner wrapper is responsible for laying out the content inside it. The
// Japanese title should appear at the top and the english at the bottom.
//
// On smaller screen sizes, the logo inner content will appear above and below
// the site logo
//
// 1. Set the english text to the bottom and the Japanese text to the top
// 2. Create space between the logo and the text

.c-hero-logo__text {
    display: flex; // 1
    flex-direction: column-reverse; // 1
    margin-bottom: 0;

    @include media('<desktop') {
        text-align: center;
    }

    @include media('>=tablet') {
        margin-left: 2rem; // 2

        font-size: 6rem;
        line-height: 7rem;
        justify-content: center;
        text-align: left;
    }
}


// Title
// ---

.c-hero-logo__title {

    @include media('>=tablet') {
        margin-top: 2rem;
    }
}


// Image
// ---
//
// 1. Absolutely position the logo image relative the `.c-hero-logo` container

.c-hero-logo__image {
    margin: auto;

    @include media('<desktop') {
        position: absolute; // 1
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        height: $logo__mobile-size;
        width: $logo__mobile-size;
    }

    @include media ('>=tablet') {
        height: $logo__desktop-size;
        width: $logo__desktop-size;
    }
}


// Pseudo Image
// ---
//
// The pseudo image is used to fill the space between the English and Japanese
// site names to simulate the presence of the logo image. This is done, because
// the markup for the `.c-hero-logo__image` is in a different container, so in order
// to position the text accurately and similarly as the logo, this pseudo logo
// is used

.c-hero-logo__pseudo-image {

    @include media('<desktop') {
        &::before {
            content: '';

            display: block;
            height: $logo__mobile-size;
            width: $logo__mobile-size;
            margin: 1.5rem 0;

            // @include media ('>desktop') {
            //     height: $logo__desktop-size;
            //     width: $logo__desktop-size;
            // }
        }
    }
}
