// Logo
// ===

.c-logo {
    display: block;
    display: inline-flex;
    align-item: center;
    flex-direction: row-reverse;
    color: inherit;
}


// Text
// ---

.c-logo__text {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding-left: 1rem;

    font-size: 1.1rem;
    line-height: 1.5rem;

    @include media('>=tablet') {
        padding-left: 2rem;

        font-size: 1.7rem;
        line-height: 2rem;
    }
}


// Image

.c-logo__image {
    height: 3rem;
    width: 3rem;

    @include media('>=tablet') {
        height: 4rem;
        width: 4rem;
    }
}
