// Nav Bar
// ===
//
// 1. Create space at the left and right side of the nav bar

.c-nav-bar {
    background: #000;
}


// Inner
// ---

.c-nav-bar__inner {
    display: flex;
    padding: 1rem 0;
}


// Item
// ---

.c-nav-bar__item {
    flex: 1 1 auto;

    text-align: center;

    &.c--hide-on-mobile {
        @include media('<tablet') {
            display: none;
        }
    }

    + .c-nav-bar__item {
        padding-left: 2rem;
    }
}


// Link
// ---

.c-nav-bar__link {
    display: block;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
}
