// Overlay Card
// ---
//
// 1. Allow the content to collapse over top of the image
// 2. Allow this much of the image to peek through above of the content

.c-overlay-card {
    position: relative; // 1
    padding-top: 10rem; // 2
    overflow: hidden;

    @include media('>=desktop') {
        padding-top: 0;
    }
}


// Image
// ---
//
// 1. Allow the content to collapse over top of the image

.c-overlay-card__image {
    position: absolute; // 1
    top: 0;
    z-index: $backdrop-layer; // 1

    @include media('>=desktop') {
        position: static;

        width: 100%;
    }
}


// Content
// ---
//
// 1. Ensure that the content appears overtop of the image

.c-overlay-card__content {
    position: relative; // 1
    z-index: $stage-layer; // 1

    background: rgba(255, 255, 255, 0.7);

    @include media('>=desktop') {
        position: absolute;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        background: rgba(255, 255, 255, 0.1);

        color: white;

        &.c--right {
            right: 5%;
        }

        &.c--left {
            left: 5%;
        }

        a {
            color: white;
        }
    }
}
