// Overlay Card
// ---
//
// 1. Allow the content to collapse over top of the image
// 2. Allow this much of the image to peek through above of the content

.c-overlay-card {
    position: relative; // 1
    padding-top: 10rem; // 2
    overflow: hidden;

    @include media('>=tablet') {
        padding-top: 0;
    }
}


// Image
// ---
//
// 1. Allow the content to collapse over top of the image

.c-overlay-card__image {
    position: absolute; // 1
    top: 0;
    z-index: $backdrop-layer; // 1

    @include media('>=tablet') {
        position: static;

        width: 100%;
    }
}


// Content
// ---
//
// 1. Ensure that the content appears overtop of the image

.c-overlay-card__content {
    position: relative; // 1
    z-index: $stage-layer; // 1

    background: rgba(255, 255, 255, 0.7);

    @include media('>=tablet') {
        position: absolute;
        top: 2rem;
        right: 2rem;
        bottom: 2rem;
        left: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include media('>=desktop') {
        top: 4rem;
        right: 4rem;
        bottom: 4rem;
        left: 4rem;
    }
}
