.nav-header {
    background: $keikogi_blue_darker;
    color: var(--inverse-text);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: $fixed_header_height;

    .page-wrapper {
        @include flex($justify: space-between);
    }
}

.nav-header__logo {
    @include flex($gap: 0.625rem);
}

.nav-header__title {
    font-size: 1.375rem;
    line-height: 1;
}

.nav-header__subtitle {
    font-size: 0.875rem;
    line-height: 1;
    margin-top: 0.25em
}