.hero {
    article {
        width: 100%;
        height: min(calc(100vh - $fixed_header_height), $max_hero_height);
        background-color: $keikogi_blue;
        color: var(--inverse-text);
        @include flex($gap: 2rem);
        position: relative;
        z-index: 1;


        &::before {
            --hero-image-jpg: url("../../assets/img/hero_01.jpg");
            --hero-image-webp: url("../../assets/img/hero_01.webp");

            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: var(--hero-image-jpg);
            background-repeat: no-repeat;
            background-position: center 30.5%;
            background-size: cover;
            z-index: -1;
            animation: fade-hero-image 32s ease 0s infinite;
            opacity: 1;

            @supports (background-image: var(--hero-image-webp)) {
                background-image: var(--hero-image-webp);
            }

            @keyframes fade-hero-image {
                0% {
                    opacity: 1;
                }

                19% {
                    opacity: 1;
                }

                21% {
                    opacity: 0;
                    --hero-image-jpg: url("../../assets/img/hero_01.jpg");
                    --hero-image-webp: url("../../assets/img/hero_01.webp");
                    background-position: center 30.5%;
                }

                22% {
                    --hero-image-jpg: url("../../assets/img/hero_02.jpg");
                    --hero-image-webp: url("../../assets/img/hero_02.webp");
                    background-position: center;
                }

                23% {
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                44% {
                    opacity: 1;
                }

                46% {
                    opacity: 0;
                    --hero-image-jpg: url("../../assets/img/hero_02.jpg");
                    --hero-image-webp: url("../../assets/img/hero_02.webp");
                    background-position: center;
                }

                47% {
                    --hero-image-jpg: url("../../assets/img/hero_03.jpg");
                    --hero-image-webp: url("../../assets/img/hero_03.webp");
                    background-position: center;
                }

                48% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                69% {
                    opacity: 1;
                }

                71% {
                    opacity: 0;
                    --hero-image-jpg: url("../../assets/img/hero_03.jpg");
                    --hero-image-webp: url("../../assets/img/hero_03.webp");
                    background-position: center;
                }

                72% {
                    --hero-image-jpg: url("../../assets/img/hero_04.jpg");
                    --hero-image-webp: url("../../assets/img/hero_04.webp");
                    background-position: center;
                }

                73% {
                    opacity: 0;
                }

                75% {
                    opacity: 1;
                }

                94% {
                    opacity: 1;
                }

                96% {
                    opacity: 0;
                    --hero-image-jpg: url("../../assets/img/hero_04.jpg");
                    --hero-image-webp: url("../../assets/img/hero_04.webp");
                    background-position: center;
                }

                97% {
                    --hero-image-jpg: url("../../assets/img/hero_01.jpg");
                    --hero-image-webp: url("../../assets/img/hero_01.webp");
                    background-position: center 30.5%;
                }

                98% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb($keikogi_blue, 0.6);
            z-index: -1;
        }
    }

    h1 {
        font-size: 4rem;
    }
}