.leadership {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    .list {
        @include flex($gap: 4rem);
        flex-wrap: wrap;
    }
}

.leader {
    width: 100%;
    @include flex($align: flex-end);
}

.leader__photo {
    width: 7rem;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.leader--primary {
    .leader__photo {
        width: 11.5rem;
    }

    .leader__title {
        font-size: 2.5rem;
    }

}

.leader--secondary {
    .leader__photo {
        width: 9rem;
    }

    .leader__title {
        font-size: 1.875rem;
    }
}

.leader--tertiary {
    width: fit-content;

    .leader__title {
        font-size: 1.375rem;
    }

    .leader__ranks {
        font-size: 1.125rem;
    }

    .leader__location {
        font-size: 0.875rem;
    }
}

.leader__title {
    line-height: 1.2;
    // margin-left: -1.25rem;
}

.leader__ranks {
    color: var(--subtle-text);
    font-size: 1.25rem;
}

.leader__location {
    font-style: italic;
    margin-top: 0;
}