// Document
// ===

html {
    font-size: 62.5%; // 10px font-size
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

body {
    font-size: 14px;
    line-height: 20px;
    background-color: white;
}
