/* partials */
@use './partials/reset';
@use './partials/variables';
@use './partials/colours';
@use './partials/mixins';
@use './partials/global';

.location-hero {
    width: 100%;
    height: min(calc(100vh - variables.$fixed_header_height), variables.$max_location_hero_height);
    background-color: colours.$keikogi_blue;
    color: var(--inverse-text);
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // see location modifier for background-image
        background-color: var(--secondary-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: color-mix(in srgb, var(--secondary-bg) 45%, transparent);
        z-index: -1;
    }

    article {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        @include mixins.flex($direction: column, $justify: flex-end, $align: flex-end);
    }
}

.location-hero--vancouver {
    &::before {
        background-image: url("../../assets/img/locations/locations_vancouver.jpg");
    }
}

.location-hero--seattle {
    &::before {
        background-image: url("../../assets/img/locations/locations_seattle.jpg");
    }
}

.location-hero--portland {
    &::before {
        background-image: url("../../assets/img/locations/locations_portland.jpg");
    }
}

.location-hero--oita {
    &::before {
        background-image: url("../../assets/img/locations/locations_oita.jpg");
    }
}

.location-hero--naha {
    &::before {
        background-image: url("../../assets/img/locations/locations_naha.jpg");
    }
}

.location-hero--toronto {
    &::before {
        background-image: url("../../assets/img/locations/locations_toronto.jpg");
    }
}

.location-hero--atlanta {
    &::before {
        background-image: url("../../assets/img/locations/locations_atlanta.jpg");
    }
}

.location-hero--coyoacan {
    &::before {
        background-image: url("../../assets/img/locations/locations_coyoacan.jpg");
    }
}

.location-hero--pasadena {
    &::before {
        background-image: url("../../assets/img/locations/locations_pasadena.jpg");
    }
}

.location-hero__text {
    h1 {
        text-align: right;
        font-weight: 900;
        font-size: 1.75rem;

        @media(min-width: variables.$media_tablet_small) {
            font-size: 2rem;
        }

        @media(min-width: variables.$media_tablet_medium) {
            font-size: 2.5rem;
        }
    }
}

.location-summary {
    position: relative;
    z-index: 10;
    @include mixins.flex($direction: column, $justify: flex-start, $gap: 2rem);

    &.page-wrapper {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    h2,
    h3,
    .h3:not(p) {
        @extend .base-heading;
        @include mixins.flex($gap: 0.375rem, $justify: flex-start);
        @include mixins.heading(h6);
        font-weight: 700;
    }

    h2 {
        margin-bottom: 0.5em;

        .icon {
            height: 1.25em;
            @include mixins.tint(keikogi_blue_darker);
        }
    }
}

.location-summary__summary {
    width: 100%;
    @include mixins.flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 2rem);
}

.location-summary__instructor-location {
    width: 100%;
    display: grid;
    // grid-template-columns: auto 1fr;
    gap: 1rem;

    .headshot {
        --headshot-border: 0.5rem;

        border: var(--headshot-border) solid var(--primary-bg);
        position: relative;
        margin-top: -4.5rem;
        margin-left: calc(var(--headshot-border) * -1);
    }

    @media(min-width: variables.$media_tablet_small) {
        grid-template-columns: auto 1fr 1fr;

        .headshot {
            grid-column: initial;
        }
    }
}

.schedule {
    width: 100%;

    .h6 {
        @include mixins.tiny-heading();
    }
}

.schedule__week {
    display: grid;
    gap: 1rem;

    @media(min-width: variables.$media_mobile_medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: variables.$media_tablet_small) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width: variables.$media_tablet_medium) {
        grid-template-columns: repeat(7, 1fr);

        .location-hero--vancouver+.location-summary & {
            grid-template-columns: auto 1fr 1fr 1fr auto 1fr 1fr;
        }

        .location-hero--seattle+.location-summary & {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto;
        }

        .location-hero--portland+.location-summary & {
            grid-template-columns: auto 1fr auto 1fr auto 1fr 1fr;
        }

        .location-hero--pasadena+.location-summary & {
            grid-template-columns: 1fr 1fr auto 1fr 1fr 1fr auto;
        }

        .location-hero--atlanta+.location-summary & {
            grid-template-columns: auto 1fr auto 1fr 1fr 1fr 1fr;
        }

        .location-hero--toronto+.location-summary & {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto 1fr;
        }

        .location-hero--coyoacan+.location-summary & {
            grid-template-columns: 1fr 1fr auto 1fr auto 1fr auto;
        }

        .location-hero--oita+.location-summary & {
            grid-template-columns: auto auto auto 1fr 1fr auto 1fr;
        }
    }

    @media(min-width: variables.$media_tablet_large) {
        grid-template-columns: repeat(7, auto);
    }
}

.schedule__day {
    @include mixins.flex($justify: flex-start, $align: flex-start, $direction: column, $gap: 0);

    p {
        color: var(--pop-text);

        &.no-class {
            color: var(--extra-subtle-text);
            font-style: italic;
        }
    }

    .spacer {
        margin: auto 0;
    }
}

.cost-disciplines {
    width: 100%;
    display: grid;
    gap: 1rem;

    @media(min-width: variables.$media_tablet_small) {
        grid-template-columns: 1fr 1fr;
    }
}

.location-summary__bio {
    width: 100%;
    display: grid;
    gap: 2rem;

    @media(min-width: variables.$media_tablet_medium) {
        grid-template-columns: 1fr auto;
    }

    & .separator:first-child {
        display: none;
    }
}

.photos {
    @include mixins.flex($direction: column, $justify: flex-start, $gap: 1rem);

    &:empty {
        display: none;
    }
}

.photo {
    width: 100%;
    min-width: 8rem;
    max-width: 20rem;
    height: auto;
    aspect-ratio: 4.5 / 3;
    flex-shrink: 0;
    border-radius: 0.125rem;

    border: 1px solid var(--borders);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media(min-width: variables.$media_tablet_medium) {
        width: 35vw;
    }
}

.location-summary__seniors {
    width: 100%;
    @include mixins.flex($direction: column, $align: flex-start, $justify: flex-start);
}

.seniors {
    display: grid;
    gap: 2rem;

    @media(min-width: variables.$media_tablet_medium) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.senior {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    align-content: flex-start;

    >div {
        align-content: center;
    }

    >p {
        width: 100%;
        grid-column: span 2;
    }
}

.headshot {
    width: 5rem;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.headshot--instructor {
    width: 8rem;

    @media(min-width: variables.$media_tablet_small) {
        width: 11rem;
    }

    @media(min-width: variables.$media_tablet_medium) {
        width: 14rem;
    }
}

.location-hero--naha {

    // hide extra content for Naha until we get more info from Taisuke
    +.location-summary {

        .schedule,
        .headshot--instructor {
            display: none;
        }

        // minor layout adjustments per above
        .location-summary__instructor-location {
            @media(min-width: variables.$media_tablet_small) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}