:root {
    --primary-text: #{$keikogi_blue};
    --subtle-text: #{$zambrano_blue};
    --inverse-text: #{$parchment};
    --primary-bg: #{$parchment};
    --secondary-bg: #{$keikogi_blue};
    --tertiary-bg: #{$zambrano_blue};
    --subtle-bg: #FFFFFF;
    --link-primary: #{$palatinate_blue};
    --link-secondary: #{$bokuto_brown};

    --font-body: Inter, Arial, Helvetica, sans-serif;
    --font-title: Cormorant,
        Georgia,
        'Times New Roman',
        Times,
        serif;

    --shadow-colour: #{$keikogi_blue_darker_hsl};
    --shadow-elevation-low: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.36),
        0px 1.2px 1.3px -1.2px hsl(var(--shadow-colour) / 0.36),
        0px 2.8px 3.1px -2.5px hsl(var(--shadow-colour) / 0.36);
    --shadow-elevation-medium: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.3),
        0px 1.8px 2px -0.6px hsl(var(--shadow-colour) / 0.3),
        0px 3.6px 4.1px -1.2px hsl(var(--shadow-colour) / 0.3),
        0px 7.3px 8.2px -1.9px hsl(var(--shadow-colour) / 0.3),
        -0.1px 14.2px 16px -2.5px hsl(var(--shadow-colour) / 0.3);
    --shadow-elevation-high: 0px 0.7px 0.8px hsl(var(--shadow-colour) / 0.31),
        0px 3.8px 4.3px -0.3px hsl(var(--shadow-colour) / 0.31),
        0px 6.9px 7.8px -0.6px hsl(var(--shadow-colour) / 0.31),
        -0.1px 10.8px 12.2px -0.9px hsl(var(--shadow-colour) / 0.31),
        -0.1px 16.4px 18.5px -1.2px hsl(var(--shadow-colour) / 0.31),
        -0.2px 24.6px 27.7px -1.6px hsl(var(--shadow-colour) / 0.31),
        -0.2px 36.1px 40.6px -1.9px hsl(var(--shadow-colour) / 0.31),
        -0.3px 51.8px 58.3px -2.2px hsl(var(--shadow-colour) / 0.31),
        -0.4px 72.6px 81.7px -2.5px hsl(var(--shadow-colour) / 0.31);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: $fixed_header_height;

    @media (prefers-reduced-motion) {
        scroll-behavior: initial;
    }
}

html,
body {
    background: var(--primary-bg);
    color: var(--primary-text);
}

body {
    font-family: var(--font-body);
    font-weight: 400;
}

main,
footer {
    position: relative;
    top: $fixed_header_height;
}

.vis-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

h1,
.h1 {
    font-size: 4rem;
}

h2,
.h2 {
    font-size: 2.25rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.375rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 0.9375rem;
}

.title {
    font-family: var(--font-title);
}

.title--alternate {
    font-family: var(--font-body);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 1.2;
}

.banner {
    .title {
        font-size: 3.5rem;
    }
}

p+p {
    margin-top: 0.75em;
}

strong {
    font-weight: 600;
}

a {
    color: var(--link-primary);
    font-weight: 500;
    text-underline-offset: 0.125em;
    transition: all 0.1875s ease-out;

    &:hover {
        text-underline-offset: 0.25em;
    }
}

button,
.button {
    cursor: pointer;
    text-decoration: none;
    padding-inline: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: white;
    color: var(--primary-text);
    border: none;
    // border: 3px solid white;
    border-radius: 0.125rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    font-weight: 900;
}

.button--primary {
    background: var(--link-primary);
    color: var(--inverse-text);
    // border-color: var(--inverse-text);
}

.button--icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    @include flex();
    position: relative;

    &.button--primary {
        img {
            width: 1.25rem;
            height: 1.25rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include tint(parchment);
        }
    }
}

.list {
    margin: 0;
    padding: 0;
}

.list--unstyled {
    list-style-type: none;
}

.page-wrapper {
    max-width: $max_content_width;
    height: 100%;
    padding-inline: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.logo--inverse {
    filter: invert(1)
}

.logo--nav-header {
    @include tint(parchment);
}

.logo--hero {
    width: 12rem;
    height: 12rem;
    @include tint(parchment);
}

fieldset {
    padding: 0;
    border: none;
    @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 0);
}

label,
legend {
    font-weight: 600;
    margin-bottom: 0.25em;
}

label:has(input[type=checkbox]) {
    font-weight: 400;
    width: fit-content;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;

    input[type=checkbox] {
        appearance: none;
        background-color: #FFFFFF;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 1px solid $bokuto_brown;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        transition: 60ms all ease-in-out;
        display: grid;
        place-content: center;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transform-origin: center;
            transition: 120ms transform ease-in-out;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            box-shadow: inset 1em 1em #FFFFFF;
        }

        &:checked {
            background-color: $palatinate_blue;
            border-color: $palatinate_blue;

            &::before {
                transform: scale(1);
            }
        }
    }
}

textarea {
    resize: vertical;
}

.field {
    @include flex($direction: column, $align: flex-start, $gap: 0);

    input,
    textarea {
        width: 100%;
    }
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
textarea {
    border: 1px solid $bokuto_brown;
    border-radius: 0.1875rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
}