// Button
// ===

.c-button {
    display: block;
    padding: 1rem;
    max-height: 3.8rem;

    background: black;

    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
}


// CTA Themed
// ---

.c-button.c--cta {
    background: $anchor-color;
}
