// Sheet
// ===
//
// This is a blank sheet with very simple formatting: just padding. Intended
// to allow you to format text easily in a container.

.c-sheet {
    padding: 3rem 2rem;
}


// Header
// ---

.c-sheet__header {
    margin-bottom: 1rem;
    overflow: hidden;
}


// Footer
// ---

.c-sheet__footer {
    padding-top: 1rem;
}
